<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TweetFilePath" value="./Files/tweet.txt" />
    <add key="UserFilePath" value="./Files/user.txt" />
    <add key="OneFollowerPath" value="./Files/onefollower.txt" />
    <add key="TwoFollowerPath" value="./Files/twofollower.txt" />    
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>